

{{#each content.sections}}
<section>
    <h1 class="story-text section-title">{{this.section_title}}</h1>
    {{#each this.content}}
        {{#ifEquals this.type 'text'}}
            <div class="story-text">
                <p>{{{this.value}}}</p>
            </div>
        {{/ifEquals}}

        {{#ifEquals this.type 'methodology'}}
        <div class="methodology">
            <h1 class="story-text section-title methodology-title">Methodology</h1>
            <hr/>
            <div class="story-text methodology-text"><p>{{{this.value.text}}}</p></div>
        </div>
        {{/ifEquals}}

        {{#ifEquals this.type 'image'}}
            {{#ifEquals this.value.illustration 'true'}}
            <div class="story-image illustration">
                <img src="{{basepath}}assets/images/{{this.value.src}}" alt="{{this.value.caption}}"/>
                <div class="image-caption">
                    <p>{{this.value.caption}}</p>
                </div>
            </div>
            {{else}}
            <div class="story-image">
                <img src="{{basepath}}assets/images/{{this.value.src}}" alt="{{this.value.caption}}"/>
                <div class="image-caption">
                    <p>{{this.value.caption}}</p>
                </div>
            </div>
            {{/ifEquals}}
            
        {{/ifEquals}}

        {{#ifEquals this.type 'sticky_overlay'}}
            <div id="{{this.value.scroll_id}}" class="scroll-container">
                <div class="scroll__graphic">
                    <div class="chart sticky sticky-image">
                    {{#each this.value.images}}
                        <img src="{{basepath}}assets/images/{{this.src}}" style="opacity:0" data-step="{{this.step}}"/>
                    {{/each}}
                    </div>


                </div>
                <div class="scroll__text">
                    {{#each this.value.text}}
                        <div class="step story-text" data-step="{{@index}}">
                            <p>{{{this}}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/ifEquals}}
        {{#ifEquals this.type 'progress_scrolly'}}
            <div id="{{this.value.scroll_id}}" class="scroll-container">
                <div class="scroll__graphic">
                    <div id="{{this.value.graphic_id}}" class="chart sticky">
                    </div>
                </div>
                <div class="scroll__text">
                    <div class="step story-text" data-step="0"><p>This <span class="inline-highlight" style="color:white;background-color:#B92025;">bounding box</span> represents the area of Phnom Penh.</p></div>
                    <div class="step story-text" data-step="1"><p>Every year, a forest twice the size of Phnom Penh is destroyed</p></div>
                    <div class="step story-text" data-step="2"><p>Cambodia lost nearly 2.5 million hectares of forest during the last two decades. That's equivalent to 40 times the area of Phnom Penh.</p></div>
                </div>
            </div>
        {{/ifEquals}}
        {{#ifEquals this.type 'scrolly_mapbox'}}
            <div id="{{this.value.scroll_id}}" class="scroll-container">
                <div class="scroll__graphic">
                    <div class="chart sticky">
                        <div class="static-mapbox-container">
                            <div id="{{this.value.map_id}}"></div>
                            <!--<div class='map-overlay' id='features'><h2>Cambodian Land Concessions</h2></div>
                            <div class='map-overlay' id='legend'></div>-->
                        </div>
                    </div>
                </div>
                <div class="scroll__text">
                    {{#each this.value.text}}
                        <div class="step story-text" data-step="{{@index}}">
                            <p>{{{this}}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/ifEquals}}
    {{/each}}
</section>
{{/each}}   