

{{#each content.sections}}
<section>
    <h1 class="story-text section-title">{{this.section_title}}</h1>
    {{#each this.content}}
        {{#ifEquals this.type 'text'}}
            <div class="story-text">
                <p>{{this.value}}</p>
            </div>
        {{/ifEquals}}

        {{#ifEquals this.type 'image'}}
            <div class="story-image">
                <img src="{{basepath}}assets/images/{{this.value.src}}"/>
            </div>
        {{/ifEquals}}

        {{#ifEquals this.type 'sticky_overlay'}}
            <div id="{{this.value.scroll_id}}" class="scroll-container">
                <div class="scroll__graphic">
                    <div class="chart sticky">
                    {{#each this.value.images}}
                        <img src="{{basepath}}assets/images/{{this.src}}" style="opacity:0" data-step="{{this.step}}"/>
                    {{/each}}
                    </div>


                </div>
                <div class="scroll__text">
                    {{#each this.value.text}}
                        <div class="step" data-step="{{@index}}">
                            <p>{{{this}}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/ifEquals}}
        {{#ifEquals this.type 'progress_scrolly'}}
            <div id="{{this.value.scroll_id}}" class="scroll-container">
                <div class="scroll__graphic">
                    <div class="chart sticky">
                    </div>
                </div>
                <div class="scroll__text">
                </div>
            </div>
        {{/ifEquals}}
        {{#ifEquals this.type 'scrolly_mapbox'}}
            <div id="{{this.value.scroll_id}}" class="scroll-container">
                <div class="scroll__graphic">
                    <div class="chart sticky">
                        <div class="static-mapbox-container">
                            <div id="{{this.value.map_id}}"></div>
                            <!--<div class='map-overlay' id='features'><h2>Cambodian Land Concessions</h2></div>
                            <div class='map-overlay' id='legend'></div>-->
                        </div>
                    </div>
                </div>
                <div class="scroll__text">
                    {{#each this.value.text}}
                        <div class="step" data-step="{{@index}}">
                            <p>{{{this}}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/ifEquals}}
    {{/each}}
</section>
{{/each}}   